# Rust
bridge/target/
**/*.rs.bk

# Flutter & Dart
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.packages
mobile/.pub/
mobile/.pub-cache/
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/build/
app/.packages
app/.pub/
app/.pub-cache/
deploy/artifacts/

# OS / Editor
.DS_Store
.idea/
.vscode/
*.swp
*.swo
